.home-header {
  font-size: 55px;
  font-family: 'Roboto';
  color: #343a40;
}

.welcome {
  height: 250px;
}

.home-container {
  margin-bottom: 200px;
  font-family: 'Roboto';
  color: #343a40;
}
.home-subheader{
  font-size: 40px;
}
.home-helper{
  font-size: 30px;


}

.home-link{
  font-size: 20px;
  color: #343a40;
}