.about-image {
  height: 200px;
}
.about-image-long {
  width: 280px;
}
.tech-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 28px;
  row-gap: 29px;
}

.about-text {
  font-size: 22px;
  font-family: 'Roboto';
  display: inline-block;
  line-height: 1.5;
  width: 70%;
  height: 25%;
  margin: 1%;
  color: #343a40;
}

.about-subheader {
  font-size: 40px;
  font-family: 'Roboto';
  color: #343a40;
}
.about-header {
  font-size: 42px;
  font-family: 'Roboto';
  color: #343a40;
}

.about-container {
  margin-bottom: 35px;
}

.profile-pic{
  width: 450px;
  height: 550px;
}