.about-image {
  height: 200px;
}
.about-image-long {
  width: 300px;
}
.tech-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 28px;
  row-gap: 29px;
}

.about-text {
  font-size: 22px;
}

.about-subheader {
  font-size: 32px;
}
.about-header {
  font-size: 38px;
}
