@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

.nav {
  font-family: "VT323";
  font-size: 44px;
  padding: 15px;
  background-color: #90dbf4;
}

.link {
  text-decoration: none;
  padding: 10px;
  color: palevioletred;
}
